In [1]:
import pandas as pd

In [4]:
demo_dict = {'nihao': [90], 'woshi': [89]}

In [5]:
pd.DataFrame(demo_dict)

   nihao  woshi
0     90     89

In [6]:
demo_dict_2 = {'en':{'a':[90]}, 'en2':{'b': [778]}}

In [7]:
pd.DataFrame(demo_dict_2)

     en    en2
a  [90]    NaN
b   NaN  [778]

In [10]:
demo_dict = {'nihao': [90,67,56], 'woshi': [89,67,6]}

In [11]:
df = pd.DataFrame(demo_dict)

In [12]:
df

   nihao  woshi
0     90     89
1     67     67
2     56      6

In [15]:
df[['nihao', 'woshi']]

   nihao  woshi
0     90     89
1     67     67
2     56      6

In [29]:
df.drop('haodeya', axis=1)

   nihao  woshi   xin
0     90     89  None
1     67     67  None
2     56      6  None

In [27]:
df['haodeya']=0

In [31]:
df

   nihao  woshi   xin  haodeya
0     90     89  None        0
1     67     67  None        0
2     56      6  None        0

In [32]:
df.drop('haodeya', axis=1)

   nihao  woshi   xin
0     90     89  None
1     67     67  None
2     56      6  None

In [33]:
df['待拆分'] = 'nihao899kl'

In [34]:
df

   nihao  woshi   xin  haodeya         待拆分
0     90     89  None        0  nihao899kl
1     67     67  None        0  nihao899kl
2     56      6  None        0  nihao899kl

In [36]:
import re

In [37]:

re.split(df['待拆分'], '[0-9]+')

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [44]:
df['xc'] = 'haode90op'
df

   nihao  woshi   xin  haodeya  待拆分         xc
0     90     89  None        0   90  haode90op
1     67     67  None        0   90  haode90op
2     56      6  None        0   90  haode90op

In [48]:
import re
process = lambda x: re.split('[0-9]',x)
processd = list(map(process, df['xc']))
df['left'], df['right'] = processd[0], processd[2]
df

   nihao  woshi   xin  haodeya  待拆分         xc            new   left  right
0     90     89  None        0   90  haode90op  [haode, , op]  haode  haode
1     67     67  None        0   90  haode90op  [haode, , op]
2     56      6  None        0   90  haode90op  [haode, , op]     op     op

In [51]:
df_split = df['xc'].str.split('90')
df['zuo'], df['you']= df_split[0],df_split[1]
df

ValueError: Length of values does not match length of index

In [45]:
import re
process = lambda x: re.split('[0-9]',x)

df['left_value'], df['right_value'] = map(process, df['xc'])
df

ValueError: too many values to unpack (expected 2)

In [38]:
df['待拆分'] =90

In [39]:
df

   nihao  woshi   xin  haodeya  待拆分
0     90     89  None        0   90
1     67     67  None        0   90
2     56      6  None        0   90

In [53]:
df.to_csv('./new_csv_2.csv', index=False)  # index = False 没有索引

In [55]:
df.to_csv('./new_3.csv', index=False, header=False)  # header = False 没有标题

In [41]:
df['待拆分']/2

0    45.0
1    45.0
2    45.0
Name: 待拆分, dtype: float64

In [ ]:
df['left_value'], df['right_value'] = function(df['待拆分'])

In [56]:
df['lllllll'] = ['1', '2', 4]

In [57]:
df

,nihao,woshi,xin,haodeya,待拆分,xc,new,left,right,lllllll
0,90,89,None,0,90,haode90op,"[haode, , op]",haode,haode,1
1,67,67,None,0,90,haode90op,"[haode, , op]",,,2
2,56,6,None,0,90,haode90op,"[haode, , op]",op,op,4