## 测试pandas

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'a': [1, 2]})

In [3]:
df1

   a
0  1
1  2

In [4]:
s1 = pd.Series({'a': [1, 2]})

In [5]:
s1

a    [1, 2]
dtype: object

In [6]:
s2 = pd.Series([1, 2, 3])

In [7]:
s2

0    1
1    2
2    3
dtype: int64

In [8]:
s3 = pd.Series([2, 3, 4, 5], index=['a', 'b', 'c', 'd'])

In [9]:
s3

a    2
b    3
c    4
d    5
dtype: int64