In [1]:
from abupy import ABuSymbolPd
tsla_df = ABuSymbolPd.make_kl_df('usTSLA', n_folds=2)
tsla_df.tail()

,close,high,low,p_change,open,pre_close,volume,date,date_week,atr21,atr14,key
2018-12-24,295.39,314.50,295.195,-7.624,313.5,319.77,5559913,20181224,0,18.7935,19.6343,435
2018-12-26,326.09,326.97,294.090,10.393,300.0,295.39,8163138,20181226,2,20.0741,21.4004,436
2018-12-27,326.09,326.97,294.090,0.000,300.0,326.09,8163138,20181227,3,21.2382,22.9310,437
2018-12-28,326.09,326.97,294.090,0.000,300.0,326.09,8163138,20181228,4,22.2966,24.2575,438
2018-12-31,326.09,326.97,294.090,0.000,300.0,326.09,8163138,20181231,0,23.2587,25.4072,439

In [2]:
import matplotlib.finance as mpf

__colorup__ = "red"
__colordown__ = "green"
# 为了示例清晰，只拿出前30天的交易数据绘制蜡烛图，
tsla_part_df = tsla_df[:30]
fig, ax = plt.subplots(figsize=(14, 7))
qutotes = []

for index, (d, o, c, h, l) in enumerate(
        zip(tsla_part_df.index, tsla_part_df.open, tsla_part_df.close,
            tsla_part_df.high, tsla_part_df.low)):
    # 蜡烛图的日期要使用matplotlib.finance.date2num进行转换为特有的数字值
    d = mpf.date2num(d)
    # 日期，开盘，收盘，最高，最低组成tuple对象val
    val = (d, o, c, h, l)
    # 加val加入qutotes
    qutotes.append(val)
# 使用mpf.candlestick_ochl进行蜡烛绘制，ochl代表：open，close，high，low
mpf.candlestick_ochl(ax, qutotes, width=0.6, colorup=__colorup__,
                     colordown=__colordown__)
ax.autoscale_view()
ax.xaxis_date()

ModuleNotFoundError: No module named 'matplotlib.finance'